.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

main {
    max-width: 1140px;
    margin: 0 auto;
}

/* navbar */

nav {
    display: flex;
    justify-content: space-between;
    max-width: 1140px;
    margin: 0 auto;
    padding-top: 40px;
}

nav h3 {
    font-size: 2.5rem;
}

nav ul {
    display: flex;
    align-items: center;

}

nav ul li {
    list-style: none;
    margin-left: 30px;
}

nav ul li a {
    text-decoration: none;
    color: #424242;
    font-weight: 500;
}

header {
    background-color: #ff8f0e17;

}

/* banner styles */

.banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1140px;
    margin: 0 auto;
    margin-top: 102px;
}

.banner-container {
    width: 862px;
    text-align: center;
}

.banner .banner-title {
    text-align: center;
    font-size: 4rem;

}

.banner-description {
    color: #727272;
    margin-top: 20px;
}

.banner .btn,
.features .btn {
    background-color: #FF900E;
    color: #ffff;
    border: none;
    padding: 20px 25px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 600;
    margin: 32px 0 50px 0;
}

.banner img {
    width: 100%;
    margin-bottom: 45px;
}

.first-section {
    margin-top: 85px;
    display: flex;
    align-items: center;
}

.img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.features {
    margin-left: 73px;
}


.features .features-title {
    font-size: 2.5rem;
}


.features .features-title .first-text {
    color: #727272;
    font-weight: 500;
}

.features .features-title .second-text {
    color: #000;
    font-weight: 700;
}

.features .features-title .third-text {
    color: #FF900E;
    font-weight: 700;
}

.features .features-description {
    color: #727272;
    margin-top: 24px;
}

/* second-section */

.second-section {
    display: flex;
    margin-top: 130px;
}

.box-container h4 {
    color: rgb(19, 19, 19);
    font-family: Work Sans;
    font-size: 3rem;
    font-weight: 700;
    text-align: left;
    border-left: 5px solid rgb(255, 144, 14);
    padding-left: 21px;
}

.box-container {
    width: 750px;
    /* height: 982px; */
}

.box-container .box-container-description {
    color: rgb(114, 114, 114);
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    margin-top: 24px;
}

.box-container .box {
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    background: rgb(255, 255, 255);
    margin-top: 20px;
}

.box h5 {
    color: rgb(19, 19, 19);
    font-size: 20px;
    font-weight: 600;
    text-align: left;
}

.box .box-description {
    color: rgb(114, 114, 114);
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    margin-top: 10px;
}

.image img {
    width: 100%;
}

.image {
    margin-left: 146px;
}

.image .badge {
    border-radius: 8px;
    background: rgb(255, 144, 14);
    padding: 45px 42px;
    color: #ffff;
    border: none;
    margin-top: -92px;
    margin-left: -77px;
}

.image .badge .year {
    font-size: 4rem;
    font-weight: 700;
}

.image .badge .experience {
    font-size: 25px;
}


/* third section */

.third-section {
    margin-top: 130px;
}

.third-section-title {
    color: rgb(19, 19, 19);
    font-size: 45px;
    font-weight: 700;
    text-align: left;
}

.third-section-description {
    color: rgb(114, 114, 114);
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    margin-top: 24px;
}

.card-container {
    display: flex;
    /* gap: 124px; */
    justify-content: space-between;
    margin-top: 100px;

}

.card {
    border: 1px solid rgb(255, 144, 14);
    border-radius: 8px;
    height: 240px;
    width: 240px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}


.card .card-title {
    color: rgb(66, 66, 66);
    font-size: 45px;
    font-weight: 600;
    margin-top: 5px;
}

.card .card-description {
    color: rgb(114, 114, 114);
    font-size: 20px;
    font-weight: 600;
    margin-top: 5px;
}

/* /* sponsors-styles  */

.fourth-section {
    margin-top: 180px;
}

.sponsor-title {
    color: rgb(19, 19, 19);
    font-size: 45px;
    font-weight: 700;
    text-align: center;
}

.sponsor-description {
    color: rgb(114, 114, 114);
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin-top: 24px;
}

.icon-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
}

.icon-container img {
    width: 130px;
}

footer {
    max-width: 1140px;
    margin: 0 auto;
    border-radius: 8px;
    background: rgb(255, 244, 231);
    padding: 34px 0px;
    margin-top: 130px;
    margin-bottom: 216px;
}

footer p {
    color: rgb(66, 66, 66);
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}

/* responsive design */

@media screen and (max-width:576px) {
    nav {
        flex-direction: column;
        width: 100%;
    }

    nav h3 {
        font-size: 1.5rem;
        text-align: center;
        margin-bottom: 15px;
    }

    nav ul {
        flex-direction: column;
        gap: 12px;
    }

    .banner-container {
        width: 90%;
    }

    .banner .banner-title {
        font-size: 2rem;
    }

    .banner .banner-img {
        margin: 0 20px;
    }

    /* maine section */

    .first-section {
        flex-direction: column;
    }

    .img-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .features {
        margin: 20px 20px;
        text-align: center;
    }

    .features .features-title {
        font-size: 2rem;
    }

    .second-section {
        flex-direction: column;
    }

    .box-container {
        width: 90%;
        margin: 0 20px;
    }

    .image {
        margin: 30px 20px;
    }

    .image .badge {
        margin: 0;

    }

    .box-container h4 {
        font-size: 2.2rem;
    }

    .third-section{
        margin: 0 20px;
    }

    .card-container{
        flex-direction: column;
        gap: 18px;
        align-items: center;
    }

    .fourth-section{
        margin: 60px 20px;
    }

    .icon-container{
        flex-direction: column;
        gap: 25px;
    }
}